<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LOL</title>
  </head>
  <body>
    <center>
    <br><br>

    <h2>Help yourself and heaven will help you...</h2>

    <iframe src="https://giphy.com/embed/12WTQZpaaDQ1H2" width="480" height="348" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/face-guy-log-12WTQZpaaDQ1H2">via GIPHY</a></p>

    <h4>Tu croyais vraiment trouver de l'aide??? </h4>
    <p>Garde la pêche</p>


  </center>
  </body>
</html>
