<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
  </head>
  <body>
    <center>
    <h1>Hey c'est nous les Users (Jean, Paul, Kwevan, Marc et Matthieu !!!!)</h1>
    <br>
      <iframe src="https://giphy.com/embed/l2Sq8kLGuf6iuzuFi" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/southparkgifs-l2Sq8kLGuf6iuzuFi">via GIPHY</a></p>
    <br>




  </center>
  </body>
</html>
