<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
  </head>
  <body>
    <h1>Bienvenue sur la page d'accueil!!!!</h1>
    <p>Va voir la réponse à la question de l'univers</p>
    <p>
      <a href="/users/secret" class="btn btn-primary">ICI</a>

    </p>


  </body>
</html>
